*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

#interactions{
    display: flex;
    flex-direction: row;
    width: 100%;
    gap: 30px;
}

/* Estilos generales de la tabla */
#lastLeads {
    width: 100%;
    border-collapse: collapse;
    font-family: 'Arial', sans-serif;
  }
  
  /* Estilos para el encabezado de la tabla */
  #lastLeads thead th {
    background-color: #f5f5f5;
    color: #333;
    font-weight: bold;
    padding: 12px;
    text-align: left;
    border-bottom: 1px solid #ddd;
  }

  #lastLeads thead tr{
    display: flex;
    justify-content: space-between;
    background-color: #f5f5f5;
  }

  #lastLeads tbody tr{
    display: flex;
    justify-content: space-between;
  }

  #leads{
    display: flex;
    flex-direction: column-reverse;
    }
  
  /* Estilos para las celdas de datos de la tabla */
  #lastLeads tbody td {
    display: flex;
    padding: 12px;
    border-bottom: 1px solid #ddd;
  }
  
  /* Estilos para las filas impares de la tabla */
  #lastLeads tbody tr:nth-child(odd) {
    background-color: #f9f9f9;
  }
  
  /* Estilos para las filas pares de la tabla */
  #lastLeads tbody tr:nth-child(even) {
    background-color: #fff;
  }

#graphs{
    display: flex;
    flex-direction: row;
    width: 100%;
    gap: 2em;
}

#graphs > canvas{
    max-width: 40em;
    max-height: 20em;
}
