<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Thanks!</title>
    <link rel="stylesheet" type="text/css" href="./final.css">
</head>
<body>
    <header>
        <img class="logo" src="./assets/dunkinLogo.webp" alt="dunkin-logo">
        <img class="mini left-top" src="./assets/mini-muffin.webp" alt="Mini muffin">
    </header>
    <main>
        <h1>¡ESTAMOS MUY CERCA DE TI!</h1>  
        <p>Te estamos esperando <%= user.nombre %></p>
        <img src="./assets/mini-donut.webp" alt="Mini donut" class="mini map-side">
        <img class="map" src="./assets/map.webp" alt="Map image">
    </main>
    <footer>
        <img class="chocolate-btm" src="./assets/chocolateBtm.webp" alt="Chocolate splash">
        <img class="mini left-bottom" src="./assets/mini-muffin.webp" alt="Mini muffin">
    </footer>
</body>
</html>