*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Fredoka', sans-serif;
    overflow: hidden;
}

body{
    background: url('./assets/DunkinPattern.webp');
    background-color: #E11383;
    object-fit: contain;
}

header{
    display: flex;
    width: 100%;
    justify-content: center;
    background-color: #FFF2E7;
    padding: 2em;
    margin-bottom: -10px;
}

main{
    position: relative;
    display: flex;
    margin: 0 auto;
    align-items: center;
    flex-direction: column;
    width: 100%;
    z-index: 1;
    padding: 0 10px;
}


main h1{
    margin-top: 20%;
    font-family: 'Fredoka', sans-serif;
    color: white;
    text-shadow: 0px 4px 4px rgba(49, 20, 2, 0.3);
    font-size: 1em;
    
}

main p{
    color: white;
    font-size: 0.9em;
    margin-bottom: 1em;
    margin-top: 0.5em;
}

.map{
    width: 100%;
}

.chocolate-btm{
    position: absolute;
    bottom: -10%;
    right: -15%;
    transform: scaleX(-1);
    scale: 0.7;
}

.mini{
    position: absolute;
}

.left-top{
    left: -15%;
    top: 5%;
}

.left-bottom{
    transform: scaleX(-1);
    left: -18%;
    bottom: -5%;
}

.map-side{
    right: 0;
    top: 20%;
    rotate: -20deg;
}


